.md-nav--primary {
  background: url(../img/MD2K-Logo_large.png) 0 0 no-repeat;
  padding-top:100px;
}

.md-source__facts { /* Hide undefined stars and forks */
  display: none;
}

.md-footer-copyright::before {
  display: block;
  white-space: pre;
  content: "MD2K is supported by the National Institutes of Health Big Data to Knowledge Initiative Grant #1U54EB020404 \00000A Team: Cornell Tech, GA Tech, U Memphis, Northwestern, Ohio State, Open mHealth, Rice, UCLA, UCSD, UCSF, U Mass, U Michigan, WVU";
}
