{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}

{% elsif page.sidebar == "mCerebrum_sidebar" %}
{% assign sidebar = site.data.sidebars.mCerebrum_sidebar.entries %}

{% elsif page.sidebar == "cerebralcortex_sidebar" %}
{% assign sidebar = site.data.sidebars.cerebralcortex_sidebar.entries %}

{% elsif page.sidebar == "md2k_sidebar" %}
{% assign sidebar = site.data.sidebars.md2k_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}
{% endif %}
